* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --texto: white;
  --fundo: url("./assets/bg-mobile.jpg");
  --cor-das-bordas: rgba(255, 255, 255, 0.5);
  --fundo-botoes: rgba(255, 255, 255, 0.1);
  --fundo-botoes-hover: rgba(255, 255, 255, 0.05);
  --fundo-icones: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url("./assets/moonstars.svg");
}

.light {
  --texto: black;
  --fundo: url("./assets/bg-mobile-light.png");
  --cor-das-bordas: rgba(0, 0, 0, 0.5);
  --fundo-botoes: rgba(0, 0, 0, 0.05);
  --fundo-botoes-hover: rgba(0, 0, 0, 0.02);
  --fundo-icones: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url("./assets/sun.svg");
}

body {
  background: var(--fundo) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--texto);
}

#layout {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Avatar */

#avatar img {
  width: 112px;
  display: block;
  margin: auto;
}

#avatar p {
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 24px;
}

/* Botão de alternar tema */
#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-out 0.3s;
}

.light #switch button {
  animation: slide-in 0.3s forwards;
}

#switch button:hover {
  outline: 8px solid var(--fundo-icones);
  cursor: pointer;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--fundo-botoes);
  border: 1px solid var(--cor-das-bordas);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Lista de links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  text-decoration: none;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background-color: var(--fundo-botoes);
  border: 1px solid var(--cor-das-bordas);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.2s;
}

ul li a:hover {
  background-color: var(--fundo-botoes-hover);
  border: 1.5px solid var(--texto);
}

/* Redes sociais */

#redes {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#redes a:hover {
  background-color: var(--fundo-icones);
}

/* Footer */

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --fundo: url(./assets/bg-desktop.png);
  }

  .light {
    --fundo: url(./assets/bg-desktop-light.png);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
